<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Project</title>

    <style>
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 20px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }

        .image-container {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <a href="{{ url_for('static', filename='cartoon.jpg') }}" download="cartoon_image">
            <button class="btn"><i class="fa fa-download"></i> Download Cartoon Image</button>
            <img src="{{ url_for('static', filename='cartoon.jpg') }}" alt="Cartoon Image" width="400" height="500">
        </a>
    </div>
    
    <div class="image-container">
        <a href="{{ url_for('static', filename='pencil.jpg') }}" download="pencil_image">
            <button class="btn"><i class="fa fa-download"></i> Download Pencil Sketch Image</button>
            <img src="{{ url_for('static', filename='pencil.jpg') }}" alt="Pencil Sketch Image" width="400" height="500">
        </a>
    </div>
</body>
</html>
