<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Project</title>


    <style>
        .btn {
          background-color: DodgerBlue;
          border: none;
          color: white;
          padding: 12px 30px;
          cursor: pointer;
          font-size: 20px;
        }
        
        /* Darker background on mouse-over */
        .btn:hover {
          background-color: RoyalBlue;
        }
        </style>
   
</head>
<body>
    <a href="{{ url_for('static', filename = 'cartoon.jpg') }}" download="image2">
      <button class="btn"><i class="fa fa-download" value="{{ url_for('static', filename = 'cartoon.jpg') }}"  ></i> Download</button>
      <img src="{{ url_for('static', filename = 'cartoon.jpg') }}" width=400 height=500 ></a>
     
        
        <a href="{{ url_for('static', filename = 'pencil.jpg') }}" download="image1">
    
          <button class="btn"><i class="fa fa-download" value="{{ url_for('static', filename = 'pencil.jpg') }}"  ></i> Download</button>
            <img src="{{ url_for('static', filename = 'pencil.jpg') }}" width=400 height=500 ></a>
            

</body>
</html>